/*
  darkgrey: rgb(30, 30, 30);
  lightgrey: rgb(70, 70, 70);
  lightblue: rgb(50, 170, 220);
 */

#player {
  background-color: rgb(30, 30, 30);
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img {
  background-color: rgb(70, 70, 70);
}

img:hover {
  background-color: rgb(50, 170, 220);
}

img, #pbar-container, #sbar-container {
  cursor: pointer;
}

/* The container */

#video-container {
  width: 640px;
  height: 360px;
}

  video {
    height: 100%;
    width: 100%;
  }

#pbar-container {
  padding-bottom: 2px;
  margin-top: 2px;
  background-color: rgb(70, 70, 70);
}

  #pbar {
    height: 5px;
    width: 0%;
    background-color: rgb(50, 170, 220)
  }

#buttons-container {
  height: 50px;
}

  #buttons-container > * {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0 10px;
  }

  #time-field {
    cursor: default;
    color: rgb(50, 170, 220);
    line-height: 50px;
  }

  #sound-button {
    margin-right: 0;
  }

  #sbar-container {
    margin-left: 0;
    width: 100px;
    height: 5px;
    background-color: rgb(70, 70, 70);
  }
    
    #sbar {
      height: 100%;
      width: 50%;
      background-color: rgb(50, 170, 220);
    }

  #fullscreen-button {
    float: right;
  }
